@media (max-width: 767px)
  .center
    padding-left: 16px
    padding-right: 16px

  .header__links
    display: none

  .header__links_mob
    display: block
    background-color: #999
    position: absolute
    width: 100%
    left: 0
    top: 0
    height: 48px
    display: flex
    justify-content: center

  .nav
    width: 100%
    min-height: calc ( 100vh - #{$heightHeader})
    padding-top: 64px

  .nav__close
    display: none

  .promo__left
    display: none

  .promo__right
    height: 363px
    width: 100%
    display: flex
    height: 363px
    align-items: center
    justify-content: center

  .promo__content
    margin-top: 0

  .sale
    padding-top: 64px
    padding-bottom: 64px

  .sale__box
    flex-direction: column
    margin-bottom: 32px

  .sale__item:not(:last-child)
    margin-right: 0
    margin-bottom: 32px

  .sale__item__big
    height: 111px

  .sale__img
    object-position: center
    object-fit: cover

  .button
    margin-top: 41px

  .footer__information
    gap: 59px

  .footer__content:last-child
    padding-bottom: 48px
  .bottom
    flex-direction: column-reverse
    align-items: center
  .icon
    margin-top: 43px
    margin-bottom: 0

  .top__heading
    flex-wrap: wrap
    justify-content: center

  .filter
    display: flex
    justify-content: space-between

  .filter__main
    width: 100%
  .filter__main[open]
    width: 320px
  .fil__name
      display: none

  .filter__group
    position: relative
    height: 48px
    width: auto



  .lines
    transform: scale(2.5)
  .param
    gap: 24px
  .param_heading
    font-size: 12px
    line-height: 14px

  .input__text
    padding-right: 0
  .filter
    padding-top: 24px
    padding-bottom: 32px

  .arrow
    padding-left: 5px

  #switcher:checked ~ .nav
    right: 0
    display: block
    z-index: 2

  .media
    padding-left: 8px
    padding-right: 8px

