# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\mosto\OneDrive\Рабочий стол\Обучение Веб-разработке\Курс профессиональная верстка\Shop\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
